@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F9FAFB;
  --foreground: #111827;
  --surface: #F9FAFB;
  --border-color: #E5E7EB;
  color-scheme: light;
}

.dark {
  --background: #0f172a;
  --foreground: #f1f5f9;
  --surface: #1e293b;
  --border-color: #334155;
  color-scheme: dark;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

*,
*::before,
*::after {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

input,
textarea,
select {
  color: inherit;
}

@layer utilities {
  .shadow-even-emerald {
    box-shadow: 0 0 20px -5px rgba(16, 185, 129, 0.3);
  }

  .font-inter {
    font-family: 'Inter', sans-serif;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}